
@import "./abstrack/varibales";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: cursive;
}
html{
    scroll-behavior: smooth
}
@import "./Compnentes/headers";
@import "./Compnentes/hero.scss";
@import "./Compnentes/hero001";
@import "./Compnentes/section002";
@import "./Compnentes/cardsession";
@import "./Compnentes/phonedes";
@import "./Compnentes/fotterseccion";
@import "./Compnentes/Container003.scss";


.dark {

    transition: all .4s;
    background-color: #444;
    color: white;
    // transform: translateX(40px);
    
  }
  .ligth{
    transition:  all .4s;
    background-color:white;
    color: black;
  }